/* import the needed sass files */
@use 'colors' as color;
@use 'fonts' as font;

/* =================
Layout
================= */

.header {
  background-color: color.$light;
  padding: 2rem 0;

  @media only screen and (max-width: 675px) {
    text-align: center;
  }
}

/* header inner wrapper*/
.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;

  /* add a media query for mobile */
  @media only screen and (max-width: 675px) {
    flex-direction: column;
  }
}

/* header logo */
.title {
  font-family: font.$title-font;
  font-size: 2rem;
  font-weight: 400;
  color: color.$dark-blue;
  line-height: 1.31em;
  letter-spacing: 0;
}

.subtitle {
  font-size: 0.75rem;
  font-weight: 700;
  color: color.$light-blue;
  line-height: 1.08em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* navigation */
.navbar {
  /* navigation list */
  &__list {
    display: flex;
    justify-content: center;
    margin-block: 1rem;

    /* add a media query for mobile */
    @media only screen and (max-width: 675px) {
      flex-direction: column;
    }
  }

  /* navigation list items */
  &__item {
    margin-inline-start: 2em;

    /* add a media query for mobile */
    @media only screen and (max-width: 675px) {
      margin: 0.5em 0;
    }
  }

  /* navigation item link */
  &__link {
    padding: 0.25rem 0;
    font-size: 0.75rem;
    font-weight: 700;
    color: color.$gray;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1.125em;

    &:hover,
    &:focus {
      color: color.$light-blue;
    }

    &.current-page {
      border-block-end: 1px solid color.$gray;

      &:hover {
        color: color.$gray;
      }
    }
  }
}